<div class="container">
 <div class="row">
  <div class="span6">
  	<article>
	<h3>About Us</h3>
	<p>IAC design, manufacture, install and commission turnkey projects involving variable speed drive systems, PLCs, SCADA, MCCs and control and instrumentation.
	<br>
	<br>
	We also have a Fastrak Division to handle smaller projects where rapid response is important.
	<br>
	<br>
	We currently operate over a range of different industries including paper, converting, metals pharmaceuticals, materials handling, food and beverage, Chemicals, Printing, Textiles and Water.
	<br>
	<br>
	Both Mainline and Fastrak projects are being manufactured from our site in Newport.
	<br>
	<br>
	The company has a clearly stated goal To maintain long term employment for our workforce. We will strive to enable our employees to line up their own personal goals with those of the company. We will use new technology wherever possible to help our drive for efficiency.
	<br>
	<br>
	Our proven track record demonstrates our ability to meet the most stringent requirements in terms of design integration and quality. Our project management expertise ensures that we continue to complete projects on time, to the agreed specification, cost effectively.
	<br>
	<br>
	We will maintain an experienced qualified workforce, complete with our extensive manufacturing facility. Close partnerships with leading component suppliers will enable us to maintain an edge in this highly competitive industry.
	<br>
	<br>
	Quality, reliability and attention to detail is the foundation of our reputation built up over many years and we will maintain an overriding commitment to building long term customer relationships.</p>
</article>
  

	<div class="row">
	 <div class="span6">
	 	<article>
	 <h3>Management Team</h3>
	 <ul class="thumbnails">
	  <li class="span2">
	  <div class="thumbnail">
	  <img src="http://placehold.it/260x180" alt="">
	   <h4>Peter Lewis</h4>
	   <p>Managing Director</p>
	  </div><!--/thumbnail-->
	</li>

	<li class="span2">
	  <div class="thumbnail">
	  <img src="http://placehold.it/260x180" alt="">
	   <h4>Phil Kitson</h4>
	   <p>Engineering Director</p>
	</div>
	</li>

	<li class="span2">
	  <div class="thumbnail">
	  <img src="http://placehold.it/260x180" alt="">
	   <h4>Martin Lewis</h4>
	   <p>Operations Manager</p>
	</div>
	</li>

	<li class="span2">
	  <div class="thumbnail">
	  <img src="http://placehold.it/260x180" alt="">
	   <h4>Peter Lewis</h4>
	   <p>Managing Director</p>
	</div>
	</li>

	<li class="span2">
	  <div class="thumbnail">
	  <img src="http://placehold.it/260x180" alt="">
	   <h4>Phil Kitson</h4>
	   <p>Engineering Director</p>
	</div>
	</li>

	<li class="span2">
	  <div class="thumbnail">
	  <img src="http://placehold.it/260x180" alt="">
	   <h4>Martin Lewis</h4>
	   <p>Operations Manager</p>
	</div>
	</li>
	</ul>
  </article>
	</div><!--/span6-->
	</div><!--//row-->





	</div><!--/span6-->

	<div class="span6">
		<article>
	<h3>Case Studies</h3>
	<ul class="casestudies">
	 <li>
	  <h5>Corus Dust Extraction Fan</h5>
	   <p>IAC's engineering and projects team designed, installed and commissioned a 1.8MW, 690Volt AC Variable Speed Drive which replaced a 11kV Direct On Line Starter for a dust extraction fan for the BOS Plant at Corus, Port Talbot Works.</p>
	    <p class="readmore"><a href="/casestudies">Read More</a></p>
	  
	 </li>
	 <li>
	 <h5>Double uncoiling Universal Foil mill</h5>
	   <p>The double uncoiling Universal Foil mill is capable of running Aluminium alloys from an entry thickness 600µ down to 6µm with roll diameters of 1.8m and a maximum speed of 1200mpm.</p>
	     <p class="readmore"><a href="/casestudies#cs2">Read More</a></p>
	</li>
	 <li>
	 <h5>Three Aluminium Foil Mills</h5>
	   <p>Main Mill Drive System utilised ABB DC motors, Drives and Local Application controllers. Three ABB AC80 controllers were used for high speed communications between the drive modules. These contain the software for all referencing, tension and diameter control blocks for each Mill.</p>
	     <p class="readmore"><a href="/casestudies#cs3">Read More</a></p>
	   </li>
	 <li>
	 <h5>Solutia Consolidated Control Room</h5>
	   <p>Alarm monitoring and emergency shutdown controls to the new Consolidated Control Room for six of the manufacturing facilities.</p>
	     <p class="readmore"><a href="/casestudies#cs4">Read More</a></p>
	   </li>
	 <li>
	 <h5>Solutia Vision System</h5>
	   <p>Upgrade of an existing PLC control system for a pallet loading and drum filling facility, and incorporate a machine vision system to locate the drum positions.</p>
	     <p class="readmore"><a href="/casestudies#cs5">Read More</a></p>
	   </li>
	 <li>
	 <h5>Roll Former Automated Exit Handling System</h5>
	   <p>The new Exit Handling System supplied for the 20 Stand Roll Former Process Line at Corus CEP was designed to process various forms of rolled cold steel sections used in the Construction Highways Industry. The system runs in a linear direction and carriers out an automated pick and place motion of each product utilising three zoned areas.</p>
	   <p class="readmore"><a href="/casestudies#cs6">Read More</a></p>
	   </li>
	 
	   
	 
	 
	</ul>
  </article>
	</div><!--/span6-->




	</div><!--/row-->
	</div><!--/container-->
