<div class="container">
  <div class="row">
    <div class="span8">
      <h3>Careers</h3>
       <p>IAC will begin looking to recruit 2 Electrical Engineering Apprentices. For full details of this vacancy please return to this page in February 2011 or call HR on 01633 293000 
       <br><br>
       Contact information:
       <br><br>
      Industrial Automation & Control Limited<br>
      Delta House<br>
      Meadows Road<br>
      Queensway Meadows<br>
      Newport<br>
      NP19 4SS
      <br><br>
      E-mail: training@iac-ltd.co.uk
      <br><br>
      For all other enquiries or if you would like to express an interest in a career at IAC please send a CV to the HR department (All CV's are kept on file for a period of 1 year and should a suitable vacancy arise during this period the HR Manager will contact you).</p>

    </div>
  </div>
</div>