<div class="container">
	 <div class="row">
	  <div class="span8">
	   <div id="casestudieswrapper">
      <article>
	   <h3>Case Studies</h3>
	   
	   <div class="thumbnail">
          <img src="/assets/cdustextr.jpg" alt="">
           <h4>Corus Dust Extraction Fan</h4>
           <p>IAC's engineering and projects team designed, installed and commissioned a 1.8MW, 690Volt AC Variable Speed Drive which replaced a 11kV Direct On Line Starter for a dust extraction fan for the BOS Plant at Corus, Port Talbot Works.
           <br><br>
           IAC supplied a turnkey solution including removal of the old equipment, complete site installation including a new Motor Bedplate, HV Breaker Modifications, ABB Cast Resin Transformer, Bespoke ABB ACS800 AC Drive Cubicle, Siemens 690V AC Motor and a new GRP Enclosure to house the Transformer and Drives Cubicles.
            <a href="#" id="example-show" class="showLink"onclick="showHide('example');return false;">Read More</a></p>
           	<div id="example" class="more">
           <p>IAC Commissioned the system which involved modifications to the existing Rockwell ControlLogix PLC and Wonderware Intouch SCADA.  The control modifications included automatic Dust Extraction management to reduce energy consumption.
           	<br><br>
            The completed project had initially provided cost savings over £11,000 per week in electrical energy which increased to £16,000 per week due to higher energy charges.
            <a href="#" id="example-hide" class="hideLink" onclick="showHide('example');return false;">Hide this content.</a></p>
          </div>
          </div>
		  
		  <div class="thumbnail">
          <img src="/assets/machine.jpg" alt="">
           <h4><a name="cs2">Double uncoiling Universal Foil mill</a></h4>
           <p>The double uncoiling Universal Foil mill is capable of running Aluminium alloys from an entry thickness 600µ down to 6µm with roll diameters of 1.8m and a maximum speed of 1200mpm.
           	<br><br>
           IAC supplied a complete Siemens Totally Integrated Automation (TIA) Solution using DC Drives, S7-400 PLC with ET 200 Remote IO and WinCC SCADA equipment.
		   <br><br>
		   More text is needed here, compared to all of the other case studies this one is lacking in detail. Still more text needed as still not long enough</p>
          </div>
		  
		  <div class="thumbnail">
          <img src="/assets/Au-foil2.jpg" alt="">
           <h4><a name="cs3">Three Aluminium Foil Mills</a></h4>
           <p>Main Mill Drive System utilised ABB DC motors, Drives and Local Application controllers. Three ABB AC80 controllers were used for high speed communications between the drive modules. These contain the software for all referencing, tension and diameter control blocks for each Mill.<br><br>The level 1 control was completed using a Siemens S7-400 PLC communicating to a set of ET200 remote I/O modules situated throughout the mill including the main desk, entry and exit operator stations and valve stand areas close to the mill.&nbsp;<a href="#" id="example3-show" class="showLink"onclick="showHide('example3');return false;">Read More</a></p>
           <div id="example3" class="more">
    		   <p>This philosophy will minimise plant cabling and improve the efficiency and speed of commissioning.
               <br><br>
    		    Profibus communications were used between the S7-400, ET200 and the ABB AC80.
    		    <br><br>
    			Ethernet was used for communication to the WinCC HMI system located on the mill main desk and the Siemens VAI Vantage automation system.<a href="#" id="example3-hide" class="hideLink" onclick="showHide('example3');return false;">Hide this content.</a></p>
        </div>
          </div>
		  
		  <div class="thumbnail">
          <img src="/assets/CCR_Solutia.jpg" alt="">
           <h4><a name="cs4">Solutia Consolidated Control Room</a></h4>
           <p>Alarm monitoring and emergency shutdown controls to the new Consolidated Control Room for six of the manufacturing facilities.
           <br><br>
		   Each facility is controlled with a Pilz PSS3000 Safety PLC and Siemens S7-300 Safety PLC to provide diverse and redundant hardware. Each PLC had remote IO connected using SafetyBUS and Profisafe respectively over individual fibre optic networks.&nbsp;
       <a href="#" id="example4-show" class="showLink"onclick="showHide('example4');return false;">Read More</a></p>
       <br><br>
       <div id="example4" class="more">
		   <p>Both PLC systems connected to a Siemens WinCC SCADA package over Ethernet, which presented the alarms with differently shaped and coloured icons depending on the class of alarm. Also included was cross checking of the alarms between the PLCs, and indication if the alarms were different.
		   <br><br>
		   Related Project - Soutia Vision System.<a href="#" id="example4-hide" class="hideLink" onclick="showHide('example4');return false;">Hide this content.</a></p>
       </div>
          </div>
	  
	      <div class="thumbnail">
          <img src="/assets/Solutia_Vision_System.JPG" alt="">
           <h4><a name="cs5">Solutia Vision System</a></h4>
           <p>Upgrade of an existing PLC control system for a pallet loading and drum filling facility, and incorporate a machine vision system to locate the drum positions.
           <br><br>	
		   The upgrade was from Mitsubishi F2 PLCs with Berger Lahr Stepper motors to Mitsubishi Q Series PLCs with two axis position control achieved via servo drives communicating with the PLC over SSCNET for control.&nbsp;
       <a href="#" id="example5-show" class="showLink"onclick="showHide('example5');return false;">Read More</a></p>
       <div id="example5" class="more">
		   <p>The new system also incorporated a Cognex Insight Vision System, to locate the filling holes on the drums, communicating with the PLC via Ethernet, with the results then being used to position the filling lance.
		   <br><br>
		   Functionality was provided to switch off the vision control should the need arise, and revert to the fixed location positioning as used on the old control system.
		   <br><br>
		   Related Project - Solutia CCR.&nbsp;<a href="#" id="example5-hide" class="hideLink" onclick="showHide('example5');return false;">Hide this content.</a></p>
           </div>
          </div>
		  
		  <div class="thumbnail">
          <img src="/assets/roll.jpg" alt="">
           <h4><a name="cs6">Roll Former Automated Exit Handling System</a></h4>
           <p>The new Exit Handling System supplied for the 20 Stand Roll Former Process Line at Corus CEP was designed to process various forms of rolled cold steel sections used in the Construction Highways Industry. The system runs in a linear direction and carriers out an automated pick and place motion of each product utilising three zoned areas.
           <br><br>
		   It was a turnkey solution to transfer all product types from the roll forming line to an operator programmable stack requiring a set up time of less than 20 minutes.&nbsp;<a href="#" id="example6-show" class="showLink"onclick="showHide('example6');return false;">Read More</a></p>
       <div id="example6" class="more">
		   <p>The system is able to handle all products up to 12000mm but the minimum requirement is to handle products that are between 2000mm and 8000mm long. Shorter lengths are manually stacked.
		   <br><br>
		   An accumulating area is provided for completed stacks so that the system can be unloaded (via side loader or forklift) without requiring the roll forming line to be stopped.
		   <br><br>
		   The project comprised :
           <br><br>
			Infeed Acceleration Conveyors - A combination of steel and rubber coated roller conveyors are used to remove the products from the flying shear and accelerate them to pull a gap between products prior to entering the picking area.
            <br><br>
			Pick and Place - 3 Servo driven XYZ units use electro-permanent magnets to pick up a variety of steel shapes weighing up to 55 Kg/m and stack them on the exit conveyors. The 3 units can operate independently for speed on short lengths or synchronise to handle lengths up to 12 metres.
            <br><br>
			Turnover Unit - 3 Pneumatically operated turnover arms use sets of pneumatic-permanent magnets to turn the products prior to stacking. This enables the products to be efficiently stacked in a back to back formation.
            <br><br>
			Exit Conveyors - 3 sets of heavy duty chain conveyors remove the completed stack of products weighing up to 13.5 Tonnes. Light guards separate the stacking area from the safe area where the stack is banded and then collected.
            <br><br>
			A new Drive and Control system, including an Incomer, VSD, Servo Drive, Servo Controller and Aux Control sections.
            <br><br>
			A new Exit Handling Operator Station was supplied. This incorporated an internally mounted PC, 19'' Flat Screen and flush mounted Industrial Keypad. The PC was loaded with an iFix Client Licence enabling new Operator Displays to be used in conjunction with the new exit handling system and also incorporates an interface to the existing process production schedule.
            <br><br>
			The existing Roll Former control System currently uses iFix to generate the production schedule for the Roll Former and Exit Cut-off Shear. The current information being generated from this schedule includes product type, length and speed. These three parameters are communicated to the new servo controller where a new recipe handling system is located. The three parameters enable a matrix, which is able to select one of 50 recipes that are contained within the controller.
            <br><br>
			Each pick and place station has 9 different sequences for the 9 different products that have been defined. Depending on product length, selection of 1, 2 or 3 Pick and Place Stations are enabled and<a href="#" id="example6-hide" class="hideLink" onclick="showHide('example6');return false;">Hide this content.</a></p>
           </div>
          </div>
        </article>
	   </div><!--casestudieswrapper-->
	  </div><!--/span8-->
	  
	  <div class="span4">
      <article>
	   <h3>Testimonials</h3>
	    <ul class="testimonials">
		 <li>
		  <h6>Martin Kemp-Siemens</h6>
		   <p>IAC's engineering and projects team are excellent etc etc</p>
		  </li>
		  
		 <li>
		 <h6>Martin Kemp-Siemens</h6>
		   <p>IAC's engineering and projects team are excellent etc etc</p>
		</li>
		 <li>
		 <h6>Martin Kemp-Siemens</h6>
		   <p>IAC's engineering and projects team are excellent etc etc</p>
		   </li>
		 <li>
		 <h6>Martin Kemp-Siemens</h6>
		   <p>IAC's engineering and projects team are excellent etc etc</p>
		   </li>
		 <li>
		 <h6>Martin Kemp-Siemens</h6>
		   <p>IAC's engineering and projects team are excellent etc etc</p>
		   </li>
		 <li>
		 <h6>Martin Kemp-Siemens</h6>
		   <p>IAC's engineering and projects team are excellent etc etc</p>
		   </li>
		</ul>
  </article>
	  
	  
	  </div>
	  
	  
	 
	 
	 
	 
     </div><!--/row-->
	</div><!--Container-->
 