<div class="container">
	 <div class="row">
	  <div class="span4">
	   <h3>Our Locations</h3>
	  <address>
	    <h4>IAC Ltd.</h4>
     <div id="map_canvas" class="map_canvas"></div>
		 <dl>
		  <dt>Industrial Automation & Control Ltd</dt>
		  <dt>Delta House</dt>
		  <dt>Meadows Road</dt>
		  <dt>Queensway Meadows</dt>
		  <dt>Newport</dt>
		  <dt>South Wales</dt>
		  <dt>NP19 4SS</dt>
		  <br>
		  <dt>Phone+44 (0)1633 293000</dt>
		  <dt>Fax&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+44 (0)1633 293030</dt>
		 </dl>
		 </address>
		 </div>
		 <div class="span4">
		<address>
		<h4 style="margin-top:59px;">IAC Security Ltd.</h4>
     <div id="map_canvas1" class="map_canvas"></div>
		<dl>
		  <dt>Industrial Automation & Control Ltd</dt>
		  <dt>22-29 Mill Street</dt>
		  <dt>Newport</dt>
		  <dt>NP20 5HA</dt>
		  <dt>United Kingdom</dt>
		  <br>
		  <dt>Phone+44 (0)1633 463132</dt>
		 </dl>
       </address>
	  </div>
	  
	  <div class="span4">
	   <div id="contactForm">
	  <form>
	   <h3>Contact Form</h3>
	   <select>
	   <option value="#">Choose Department</option>
	   <option value="#">Sales</option>
	   <option value="#">Service</option>
	   <option value="#">Handling</option>
	   <option value="#">Training</option>
	   <option value="#">Security</option>
	   </select>
	   <input type="text" value="Enter Name" onfocus="if (this.value=='Enter Name')this.value='';" onblur="if (this.value=='')this.value ='Enter Name';" />
	   <input type="text" value="Enter Email" onfocus="if (this.value=='Enter Email')this.value='';"onblur="if (this.value=='')this.value ='Enter Email';" />
	   <input type="text" value="Enter Number" onfocus="if (this.value=='Enter Number')this.value='';"onblur="if (this.value=='')this.value ='Enter Number';" />
	   <textarea id="myInput" placeholder="Enter Message" rows="10"  onfocus="if (this.placeholder=='Enter Message')this.placeholder='';" onblur="if (this.value=='')this.placeholder ='Enter Message';" /></textarea>
	   <input type="submit" value="Send Message">
	  </form>
	  </div>
	  </div>
	  
	 
	 
	 
	 
     </div>
	</div>
 
