<div class="container">
    <div class="row">
      <div class="span8 offset2">
        <div class="flexslider">
         <ul class="slides">
          <li>
           <img src="/assets/banner1.jpg" />
          </li>
           <li>
            <img src="/assets/banner2.jpg" />
           </li>
            <li>
             <img src="/assets/banner3.jpg" />
            </li>
        </ul><!--/slides-->
      </div><!--/flexslider-->
    </div><!--/span8 offset2-->
   </div><!--/row-->
  </div> <!-- /container -->

<div class="container">
  <div class="row">
    <div class="span4">
      <div class="products">
       <h3>Engineering</h3>
        <p>CCTV solutions to security and monitoring problems. Offering a turn key project service, the division also manufactures a range of robust pan and tilt units and a wireless dome for rapid response and short duration monitoring.</p>
      <a class="button" href="#">Read More</a>
     </div>
    </div><!--/span4-->

    <div class="span4">
      <div class="products">
      <h3>Production</h3>
      <p>CCTV solutions to security and monitoring problems. Offering a turn key project service, the division also manufactures a range of robust pan and tilt units and a wireless dome for rapid response and short duration monitoring.</p>
      <a class="button" href="#">Read More</a>
     </div>


    </div><!--/span4-->

    <div class="span4">
      <div class="products">
      <h3>Security</h3>
      <p>CCTV solutions to security and monitoring problems. Offering a turn key project service, the division also manufactures a range of robust pan and tilt units and a wireless dome for rapid response and short duration monitoring.</p>
      <a class="button" href="#">Read More</a>
     </div>
    </div><!--/span4-->
    <div class="container">
      <div class="row">
        <div class="span6">
          <article id="homepage">
          <h3>Engineering is secondary to the vision</h3>
           <p>IAC is the UK’s leading electrical systems integrator, operating on a world wide scale from a 50,000sqft manufacturing facility in the centre of Newport, South Wales.
           <br><br>
           IAC has an engineering staff fully trained in the application and use of PLC and drive products from the world’s foremost equipment suppliers. To back this up, we have a reference list proving our capabilities – a customer reference list second to none. We offer a full, turnkey project service from conception to handover, with complete after sales service.
           <br><br>
           The company runs an ISO 9001 Quality Assurance system, audited and approved by NQA</p>
         </article>




        </div><!--/span6-->
         <div class="span6">
          <article class="news">
          <h3>News</h3>
           <div id="accordion" class="accordion">
            <div class="accordion-group">
             <div class="accordion-heading">
              <a class="accordion-toggle" href="#collapse" data-parent="#accordion" data-toggle="collapse"><i class="icon-plus icon-large"></i><p>Open Day 2012</p></a>
           </div><!--End of Accordion heading-->  
            <div id="collapse" class="accordion-body collapse" style="height: 0px;">
             <div class="accordion-inner">
              <p>South Wales based systems integrators, Industrial Automation and Control Ltd., are again hosting Open Days on the 22nd and 23rd May at their headquarters in Newport, South Wales.</p><p class="readmore"><a href="#">Read More</a></p>
             </div><!--End of accordion Inner-->
             </div><!--End of collapse-->

             <div class="accordion-heading">
              <a class="accordion-toggle" href="#collapse1" data-parent="#accordion" data-toggle="collapse"><i class="icon-plus icon-large"></i><p>IAC Wins Company of the Year Award</p></a>
           </div><!--End of Accordion heading-->  
            <div id="collapse1" class="accordion-body collapse" style="height: 0px;">
             <div class="accordion-inner">
              <p>IAC are announced Welsh Company of the Year at the South Wales Chamber awards.</p><p class="readmore"><a href="#">Read More</a></p>
             </div><!--End of accordion Inner-->
             </div><!--End of collapse-->

             <div class="accordion-heading">
              <a class="accordion-toggle" href="#collapse2" data-parent="#accordion" data-toggle="collapse"><i class="icon-plus icon-large"></i><p>IAC Shortlisted for Award</p></a>
           </div><!--End of Accordion heading-->  
            <div id="collapse2" class="accordion-body collapse" style="height: 0px;">
             <div class="accordion-inner">
              <p>Industrial Automation & Control Ltd, the UK's leading independent systems integrator, are pleased to announce they have been selected as one of three finslists in the Achievement in International Trade category of the Chambers of Commerce Business Awards 2010.</p><p class="readmore"><a href="#">Read More</a></p>
             </div><!--End of accordion Inner-->
             </div><!--End of collapse-->

             <div class="accordion-heading">
              <a class="accordion-toggle" href="#collapse3" data-parent="#accordion" data-toggle="collapse"><i class="icon-plus icon-large"></i><p>IAC Celebrate Purchase Of New Premises</p></a>
           </div><!--End of Accordion heading-->  
            <div id="collapse3" class="accordion-body collapse" style="height: 0px;">
             <div class="accordion-inner">
              <p>The UK's largest independant systems integrator, Industrial Automation & Control Ltd. (IAC) is continuing with its expansion plans through the aquisition of new premises on Queensway meadows Industrial Estate, Newport.</p><p class="readmore"><a href="#">Read More</a></p>
             </div><!--End of accordion Inner-->
             </div><!--End of collapse-->
            </div><!--/accordion group-->
          </article>
       

         </div><!--/span6-->
      </div><!--/row-->
    </div><!--/container-->

    </div><!--row-->
</div><!--container-->








<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider();
  });
</script>