<div class="container">
  <div class="row">
    <div class="span8">
      <h3>Markets</h3>
      <ul id="markets">
        <li><i class="icon-ok icon-large"></i>Plastics</li>
        <li><i class="icon-ok icon-large"></i>Paper</li>
        <li><i class="icon-ok icon-large"></i>Metals</li>
        <li><i class="icon-ok icon-large"></i>Converting</li>
        <li><i class="icon-ok icon-large"></i>Printing</li>
        <li><i class="icon-ok icon-large"></i>Nuclear</li>
        <li><i class="icon-ok icon-large"></i>Water</li>
        <li><i class="icon-ok icon-large"></i>Materials Handling</li>
        <li><i class="icon-ok icon-large"></i>Chemicals</li>
        <li><i class="icon-ok icon-large"></i>Pharmaceuticals</li>
        <li><i class="icon-ok icon-large"></i>Food and Beverage</li>
        <li><i class="icon-ok icon-large"></i>Oil and Gas</li>
        <li><i class="icon-ok icon-large"></i>Automotive</li>
        <li><i class="icon-ok icon-large"></i>Defence</li>
      </ul>
      <br><br>
      <p>In all these areas, Industrial Automation & Control Limited offers a complete turnkey capability from conception to after sales service.
      <br><br>
      In addition, we can offer a rapid turnaround service from our Fastrak division. This group handles local breakdowns, engineering assistance and support, as well as the manufacture of control systems not requiring the level of project management provided by our large project division.</p>
    </div>
  </div>
</div>