<div class="container">
	<div class="row">
		<div class="span8">
			<div id="newswrapper">
			<h3>News</h3>
			<div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>Open Day 2012</h4>
            <h6>Date and time go here</h6>
           <p>South Wales based systems integrators, Industrial Automation and Control Ltd., are again hosting Open Days on the 22nd and 23rd May at their headquarters in Newport, South Wales.
           <br><br>
           This bi-annual event now in its 10th Year offers a not to be missed educational experience through the variety of seminars, workshops and hands on experience that can be gained from attending.  Complementing the seminar line-up will be an exhibition showcasing the very latest in industrial technology.
           <br><br>
           This free to attend event will showcase the latest technology from the Worlds leading suppliers and answer your questions on key issues including:  Lean manufacturing, machinery safety, fieldbus systems, power & energy management solutions, Regenerative braking & RFI, multiple technology integration and much more.
           <br><br>
           Confirmed exhibitors include: Siemens, ABB, Pheonix Contact, IT4 Automation, Vacon, Eldon, DP Fabrications, Pilz, Pepperl + Fuchs, IFM, Rockwell Automation, A&T Enclosures, Control Techniques, Beckhoff Automation, Parker Hannifin, Wago, Santon switchgear, Mersen, Rittal, Kuka Robotics, Weidmuller, BNB Fabrications, Harting, CP Automation & Cembre.
           <br><br>
           For more information about the event and to register to attend please visit www.iac-ltd.co.uk/openday or contact 01633 293000. </p>
          </div>

          <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>IAC Wins Company of the Year Award</h4>
            <h6>Date and time go here</h6>
           <p>

            IAC are announced Welsh Company of the Year at the South Wales Chamber awards.
            <br><br>
            Newport-based Industrial Automation and Control (IAC), an electrical systems integrator, won the accolade at the awards, run in association with the University of Glamorgan Business School.
            <br><br>
            The Company, which operates from a 37,000 sq ft manufacturing facility on the outskirts of Newport and employs 66 staff, has successfully weathered the economic storm and is now aiming to double its size over the next three years through organic growth and acquisition.
            <br><br>
            Diversification has helped to strengthen the balance sheet and safeguard the company from the risk of a downturn in any one market.  The firm has also expanded overseas by acquiring Tiprow Controls in South Africa in 2010, a move which added £1.5m of turnover to the business.
            <br><br>
            Rather than laying people off when the recession hit, IAC Group made a commitment to the workforce to retain as many people as possible.  This decision not to downsize paid off as the company has been able to take advantage of opportunities as the economy recovered.
            <br><br>
            Speaking about the achievement of winning the award, Peter Lewis, managing director of IAC Group, said "the Welsh Company of the Year award is one of the most coveted awards in Wales, and I'm absolutely thrilled that IAC has been selected as a winner"
            <br><br>
            "We've worked hard to grow the business, in spite of the turbulent economic times that we've all been facing, and our determination to see it through has paid off.  2011/12 looks as if it will be a record year for the company, the current order book is looking good and the expansion of the workforce in 2010 means that the company can accommodate the increased workload comfortably.
            <br><br>
            "I'd like to thank our hard-working team, without whom all of this would not have been possible.  The wellbeing of our workforce is our number one priority and we are committed to ensuring their long-term future by continuing to run a thriving Welsh business."</p>
          </div>

          <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>IAC shortlisted for Award</h4>
            <h6>Date and time go here</h6>
           <p>

            Industrial Automation & Control Ltd, the UK's leading independent systems integrator, are pleased to announce they have been selected as one of three finslists in the Achievement in International Trade category of the Chambers of Commerce Business Awards 2010.
            <br><br>
            Peter Lewis, Managing Director at IAC stated "IAC are extremely pleased to have been shortlisted for the Achievement in International trade category.  We have always been proud of our exporting capabilities, particularly as over 50% of our business is export, either directly or through our UK partners.  The team at IAC have worked hard over the past 25 years to build up our export business, with our future expansion plans focused very much on overseas trade; it is very satisfying to be complimented on our work so far".
             <br><br>
            IAC along with other finalists will find out if they have been succeessful at the Chamber of Commerce Awards Dinner on 24th September at the Mercure Holland House Hotel & Spa.
            <br><br>
            IAC is the UK’s leading independent systems integrator operating world wide designing and building electrical control systems for industry.  In addition to systems integration and control panel manufacture, IAC also has a 24/7 service response team satisfying local breakdown cover in over 25 local manufacturing companies, and a CCTV division offering security systems worldwide. IAC now has two companies based in South Africa, including the latest acquisition of a panel manufacturing facility in Benoni, Gauteng.</p>
          </div>

          <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>IAC celebrates the purchase of new premises</h4>
            <h6>Date and time go here</h6>
           <p>

            The UK's largest independant systems integrator, Industrial Automation & Control Ltd. (IAC) is continuing with its expansion plans through the aquisition of new premises on Queensway meadows Industrial Estate, Newport. 
            <br><br>
            The control systems specialist has continued to grow its team through the recession and is now looking to move the 64-strong workforce to a newer and more suitable building on the outskirts of Newport.
            <br><br>
            IAC is planning an opening event on Tuesday 4th and Wednesday 5th May, which will coincide with the Company's annual Open Day's.  IAC's major partners, such as Siemens, ABB, Schneider, Rockwell , Omron & Mitsubishi are supporting the event, exhibiting their products and services as well as providing many of the seminars and hands on workshops. 
            <br><br>
            IAC's sales & management team will be on hand throughout the 2 days for one to oneconsultation and to provide assistance where necessary guiding visitors through the various events. IAC's Handling, Process, Security & Service divisions will also be showcasing new equipment and technology.
            <br><br>
            The 2 day event will commence with an official opening ceremony performed by Lord Kinnock and attended by customers, suppliers and other respected guests. IAC will be issuing invitations to the event in the coming months, any interested parties should contact Kath Lewis on 01633 463110.</p>
          </div>
        </div><!--/news-->
	   </div><!--/span8-->
	    <div class="span4">
	    	<h3>Historic News</h3>
         <ul id="historic">
          <li>
            <p><a href="#">IAC's Service Department Grows and Strengthens</a></p>
          </li>
          <li>
            <p><a href="#">IAC Security taken to a new level</a></p>
          </li>
          <li>
            <p><a href="#">Coating Line Rebuilds from Industrial Automation & Control Ltd.</a></p>
          </li>
          <li>
            <p><a href="#">IAC Open Day 2008 - Regional Control Systems Exhibition</a></p>
          </li>
          <li></li>
         </ul>
	  </div><!--/row-->
	</div><!--/container-->

