<div class="container">
	 <div class="row">
	  <div class="span12">
      <article>
	   <h3>Our Partners</h3>
		 <ul class="thumbnails">
          <li class="span3">
          <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>Name Of Company</h4>
           <p>Click to visit site</p>
          </div>
         </li>
  
  <li class="span3">
          <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>Name Of Company</h4>
           <p>Click to visit site</p>
          </div>
         </li>
  <li class="span3">
          <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>Name Of Company</h4>
           <p>Click to visit site</p>
          </div>
         </li>
  
  <li class="span3">
          <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>Name Of Company</h4>
           <p>Click to visit site</p>
          </div>
         </li>
  
  <li class="span3">
          <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>Name Of Company</h4>
           <p>Click to visit site</p>
          </div>
         </li>
  
  <li class="span3">
          <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>Name Of Company</h4>
           <p>Click to visit site</p>
          </div>
         </li>
  <li class="span3">
          <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>Name Of Company</h4>
           <p>Click to visit site</p>
          </div>
         </li>
  
  <li class="span3">
          <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>Name Of Company</h4>
           <p>Click to visit site</p>
          </div>
         </li>
  
  <li class="span3">
          <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>Name Of Company</h4>
           <p>Click to visit site</p>
          </div>
         </li>
		 
		 <li class="span3">
          <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>Name Of Company</h4>
           <p>Click to visit site</p>
          </div>
         </li>
  <li class="span3">
          <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>Name Of Company</h4>
           <p>Click to visit site</p>
          </div>
         </li>
  
  <li class="span3">
          <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>Name Of Company</h4>
           <p>Click to visit site</p>
          </div>
         </li>
  
  
</ul>
</article>
		
		</div><!--/span6-->
		</div><!--//row-->
	  
	  
	 
	 
	 
	  </div><!--/span6-->
	  
	  
	  
	  
	  
	  
     </div><!--/row-->
	</div><!--/container-->
 