<div class="container">
	 <div class="row">
	  <div class="span3">
	  	<div class="box">
	  <h3>System Integration</h3>
	  <p>Offers CCTV solutions to security and monitoring problems. Offering a turn key project service, the division also manufactures a range of robust pan and tilt units and a wireless dome for rapid response and short duration monitoring.</p>
	  <a class="button" href="#">Read More</a>
	    </div><!--/box-->
	   
	   </div>
	   
	   	  <div class="span3">
	   	   <div class="box">
		      <h3>IAC Handling</h3>
		       <p>Offers CCTV solutions to security and monitoring problems. Offering a turn key project service, the division also manufactures a range of robust pan and tilt units and a wireless dome for rapid response and short duration monitoring.</p>
		       <a class="button" href="#">Read More</a>
	       </div><!--/box-->
	      </div>
	   
	   	  <div class="span3">
	   	  	<div class="box">
		       <h3>Iac Security</h3>
		        <p>Offers CCTV solutions to security and monitoring problems. Offering a turn key project service, the division also manufactures a range of robust pan and tilt units and a wireless dome for rapid response and short duration monitoring.</p>
		        <a class="button" href="#">Read More</a>
		      </div><!--/box-->
	      </div>
	   
	   	  <div class="span3">
	   	  	<div class="box">
		       <h3>IAC Service</h3>
		  			<p>Offers CCTV solutions to security and monitoring problems. Offering a turn key project service, the division also manufactures a range of robust pan and tilt units and a wireless dome for rapid response and short duration monitoring.</p>
		  			<a class="button" href="#">Read More</a>
	   			</div>
	   		</div>
	  
	  
     </div><!--/row-->
	</div><!--/container-->

	 <div class="container">
	 	<div class="row">
	 		<div class="span6">
	 			<h3>System Integration</h3>
	 			 <p>IAC offer over 500 man years of engineering experience, providing System Integration to many diverse industries and applications in all areas of production.
	 			 <br><br>
         With our proven history, using standard Industrial Drive & Automation technologies, from all the major brand suppliers, we are able to provide our integration expertise in the global marketplace using the following hardware:
         <br><br>
         <ul>
          <li>AC & DC Variable Speed Drive Systems</li>
					<li>PLC Systems</li>
					<li>DCS Systems</li>
					<li>SCADA Systems</li>
					<li>HMI Systems</li>
					<li>Motor Control Centre's</li>
					<li>Distribution Boards</li>
					<li>EEx Control Panels</li>
					<li>Motion Control Systems</li>
					<li>Control & Instrumentation Systems</li>
				</ul>
				<br><br>
        IAC offer a turnkey service and are structured on a project basis to provide dedicated teams for:
        <ul>
         <li>Project Management</li>
				 <li>Applications Engineering</li>
				 <li>Drawing Office</li>
				 <li>Installation</li>
				 <li>Commissioning</li>
				 <li>24 /7 Service</li>
				 <li>Training</li>
				</ul>
				<br><br> 
        During the project design cycle our training department can provide dedicated hands-on courses for all standard as well as application specific products.
        <br><br>
        Our after sales service department are there to provide you with 365 day a year 24/7 support.
        <br><br>
        Over 30 years ago, IAC were formed as a Drives Engineering house for industry.  Dedicated to delivering technology and service solutions to improve process lines on a worldwide basis.  Since then industry has matured a great deal, many companies have come and gone and IAC have become the UK's leading independent Systems Integrator, recognised for delivering diverse and versatile systems.
        <br><br>
        All this has been achieved through continued relationships with existing customers and global partners.  This is why IAC are a long standing organisation, one that you can start with today and still count on in 10 years time and longer.  Choose IAC as a partner and you will have a dedicated solution provider for the life of your business.
        <br><br>
        IAC will unify your drive and automation control system making it more flexible and suitable for future upgrades or conversions.
        <br><br>
        In today's competitive environment, continuous process and hybrid industries face exciting opportunities along with complex challenges.  The demand to improve business operations, increase profitability and comply with an ever growing list of internal and external standards has never been greater - this together with facing unprecedented pressure to reduce costs and operate at peak levels of efficiency. For maximum safety, protection and reliability, look no further.
        <br><br>
        IAC believe that the correct Drives and Process solutions are a key part in enabling you not only to meet these challenges, but to use them to gain a competitive advantage for your business growth.</p>

	 		</div><!--/span6-->


	 	<div class="span6">
	 		<h3>Security</h3>
	 		 <p>At the start of 2008 Industrial Automation & Control Ltd, (IAC), announced the acquisition of the Shawley product range, which is incorporated into the IAC Security product portfolio.
	 		 <br><br>
       The Shawley product range has established itself as one of the cornerstone products within the CCTV industry over the past 30 years. It is this impressive reputation and its desire to continue to deliver a quality product to its customers that attracted IAC to add it to its already enviable reputation for delivering a service that not only meets, but exceeds the customers expectations.</p>

	 	</div><!--/span6-->


	 </div><!--/row-->
	</div><!--/container-->
 