<div class="container">
  <div class="row">
    <div class="span8">
      <div id="securitywrapper">
      <article>
      <h3>Cameras</h3>
      <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt=""> 
           <h4>PT565 Earl P&T</h4>
           <p>The Earl PT565 head is the leader in the range of quality built, versatile and precision designed pan and tilt units, proven reliability in town centre, traffic monitoring and other demanding applications. The Earl is the first choice for performance, flexibility and serviceability. Ruggedly constructed in a die cast aluminium case, the Earl provides a compact but powerful unit with a load capacity belying its size.

           Available in a number of versions, Side-mount, Over the top, AC, DC, Continuous rotation, the Earl provides a flexible approach to pan and tilt requirements.

          General Features

          Carrying capacity of 15Kg in top mount configuration
          Carrying capacity of 22Kg in side mount configuration
          IP66
          Precision ball bearings ensure the unit remains square on both axes
          Stainless steel shafts and fittings eliminate corrosion
          Internal limit adjustment gives resilience to extreme conditions
          limit adjustment can be made with a full load in place
          All metal gear transmission
          Low backlash for stability in high winds
          Heavy duty synchronous motors (AC version)
          Ironless rotor motors (DC version)
          DC version provides high and variable speed performance
          Pan Speed: DC:- 0-45 deg/sec variable. AC:- 8.5 deg/sec
          Tilt Speed: DC:- 0-10 deg/sec variable, AC:- 2.5 deg/sec
          Full two year warranty

          Options 

          Operating voltages from 12vDC, 24vDC, 24vAC, 110vAC & 240vAC
          Standard or heavy duty pots
          Auto pan
          Continuous rotation
          Continuous rotation with presets
          Colour options to specification
          Alternative connectors available on request</p>
          </div>
      
      <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>PT461 Duke P&T</h4>
           <p>The Duke PT461 head is a heavy duty dedicated top mount unit, which is built to support the greater payloads and operate reliably in severe weather conditions.

Available with a number of variable features,

     General Features

    Carrying capacity of 30Kg, up to 50Kg when using a counter balance
    IP66
    Precision ball bearings ensure the unit remains square on both axes
    Stainless steel shafts and fittings eliminate corrosion
    Internal limit adjustment gives resilience to extreme conditions
    limit adjustment can be made with a full load in place
    All metal gear transmission
    Low backlash for stability in high winds, better than 0.2 of a degree
    Pan Braking Torgue (AC only): 127kgs cm
    Tilt Braking Torque (AC only): 340kgs cm
    Heavy duty synchronous motors (AC version)
    Ironless rotor motors (DC version)
    DC version provides high and variable speed performance
    Pan Speed: DC:- 0-40 deg/sec variable. AC:- 7.5 deg/sec
    Tilt Speed: DC:- 0-16 deg/sec variable, AC:- 2.5 deg/sec
    Full two year warranty

      Options

    Operating voltages from 12vDC, 24vDC, 24vAC, 110vAC & 240vAC
    Standard or heavy duty pots
    Auto pan
    Continuous rotation
    Continuous rotation with presets
    Colour options to specification
    Alternative connectors available on request
</p>
          </div>
      
      <div class="thumbnail">
        <img src="http://placehold.it/260x180" alt="">
           <h4>PT365 Baron P&T</h4>
           <p>The Baron PT365 head is a heavy duty dedicated side mount unit, specifically designed for heavy load applications such as industrial and commercial installations which require a robust and reliable pan and tilt with first class performance.

Available with a number of variable features.

     General Features

    Carrying capacity of 30Kg
    IP66
    Precision ball bearings ensure the unit remains square on both axes
    Stainless steel shafts and fittings eliminate corrosion
    Internal limit adjustment gives resilience to extreme conditions
    limit adjustment can be made with a full load in place
    All metal gear transmission.
    Low backlash for stability in high winds, better than 0.2 of a degree
    Pan Braking Torgue (AC only): 127kgs cm
    Tilt Braking Torque (AC only): 340kgs cm
    Heavy duty synchronous motors (AC version)
    Ironless rotor motors (DC version)
    DC version provides high and variable speed performance
    Pan Speed: DC:- 0-40 deg/sec variable. AC:- 7.5 deg/sec
    Tilt Speed: DC:- 0-16 deg/sec variable, AC:- 2.5 deg/sec
    Full two year warranty

      Options

    Operating voltages from 12vDC, 24vDC, 24vAC, 110vAC & 240vAC
    Standard or heavy duty pots
    Auto pan
    Continuous rotation
    Continuous rotation with presets
    Colour options to specification
    Alternative connectors available on request
</p>
          </div>
      
      <div class="thumbnail">
        <img src="http://placehold.it/260x180" alt="">
           <h4>Camera Housings</h4>
           <p>The IAC Security range of camera housings are designed to make installation as simple as possible. Highly durable for long-life, maintenance-free operation, allowing you to specify with confidence.

Available with a number of variable features.

     General Features

    Manufactured from 16 gauge aluminium sheeting
    IP66
    Box tray format providing rigidity and service platform
    Laminated window to outside of hood
    Stainless steel external fitting for longer life
    Bolt on wiper facility
    Quick release hood for easy access
    Full length sunshield
    Heater/demister fitted as standard
    Three compression entry glands
    Adjustable paxolin camera platform
    Full two year warranty

      Options

    Operating voltages from 12vDC, 24vDC, 24vAC, 110vAC & 240vAC
    Double sunshield and glass white finish for hot climates
    Internal wiper
    Additional heating and insulation for cold climates
    Tamper resistant external fittings
    Internal stirrer fan to disperse hot spots
    Colour options to specification
</p>
          </div>
    
        <div class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
           <h4>Rapid Deployment System, (RDS)</h4>
           <p>The RDS is a valuable tactical weapon in the battle against anti-social behaviour, crime and disorder. The RDS provides the solution - CCTV cameras without wires that can broadcast their pictures back to a base by various wireless methods.

The main applications the RDS systems are used for is the prevention or identification of:

    Threatening and abusive behaviour
    Violence and assault
    Disorder and alcohol related incidents
    Business and retail damage
    Building Sites
    Remote Sites
    Vehicle crime
    Fly-tipping

These are the most pressing issues faced by many councils, police forces and businesses today.

Crime and anti-social behviour usually occurs sporadically in areas not protected by fixed line CCTV systems. The RDS can be rapidly deployed to monitor crime hotspots and problem areas.

A major attraction in the solution offered by IAC Security RDS system is the speed of installation and the abscence of transmission cabling. The RDS is a quick to install, highly responsive and economical solution.

Each system can be a completely portable, mobile unit that delivers live images direct to a PC or laptop via the mobile phone, broadband and wireless LAN networks or via a digital codec when using radio communications, to your existing analogue control equipment. Wireless CCTV systems are overt or covert systems that can be located anywhere.

The key advantage of the RDS compared with a fixed camera system is that because it is wireless, it doesn't have to stay in one place, so its deployment can be 'on demand' and flexible enough to deal with crimes and problems in certain areas directly at the times you need it.

Trial systems are available upon request.</p>
          </div>

       </article>
     </div>

    </div>
  </div>
</div>