<div class="container">
	<div class="row">
		<div class="span12">
			<footer>
				<ul class="copyright">
					<li><a href="#"><img src="/assets/logosmall.png"></a></li>
					<li>All rights reserved 2012</li>
				</ul>

				<ul class="social-media">
					<li><a href="#"><img src="/assets/twitterlogo1.png"></a></li>
					<li><a href="#"><img src="/assets/facebooklogo1.png"></a></li>
					
				</ul>
				


			</footer>
		</div>
	</div>
</div>