/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
*/

/************************
FONTS
************************/
@font-face {
    font-family: 'LatoBlackItalic';
    src: url('Lato-BlaIta-webfont.eot');
    src: url('Lato-BlaIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-BlaIta-webfont.woff') format('woff'),
         url('Lato-BlaIta-webfont.ttf') format('truetype'),
         url('Lato-BlaIta-webfont.svg#LatoBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoBlack';
    src: url('Lato-Bla-webfont.eot');
    src: url('Lato-Bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Bla-webfont.woff') format('woff'),
         url('Lato-Bla-webfont.ttf') format('truetype'),
         url('Lato-Bla-webfont.svg#LatoBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoBoldItalic';
    src: url('Lato-BolIta-webfont.eot');
    src: url('Lato-BolIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-BolIta-webfont.woff') format('woff'),
         url('Lato-BolIta-webfont.ttf') format('truetype'),
         url('Lato-BolIta-webfont.svg#LatoBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoBold';
    src: url('Lato-Bol-webfont.eot');
    src: url('Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Bol-webfont.woff') format('woff'),
         url('Lato-Bol-webfont.ttf') format('truetype'),
         url('Lato-Bol-webfont.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoItalic';
    src: url('Lato-RegIta-webfont.eot');
    src: url('Lato-RegIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-RegIta-webfont.woff') format('woff'),
         url('Lato-RegIta-webfont.ttf') format('truetype'),
         url('Lato-RegIta-webfont.svg#LatoItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoRegular';
    src: url('Lato-Reg-webfont.eot');
    src: url('Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Reg-webfont.woff') format('woff'),
         url('Lato-Reg-webfont.ttf') format('truetype'),
         url('Lato-Reg-webfont.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoLightItalic';
    src: url('Lato-LigIta-webfont.eot');
    src: url('Lato-LigIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-LigIta-webfont.woff') format('woff'),
         url('Lato-LigIta-webfont.ttf') format('truetype'),
         url('Lato-LigIta-webfont.svg#LatoLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoLight';
    src: url('Lato-Lig-webfont.eot');
    src: url('Lato-Lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Lig-webfont.woff') format('woff'),
         url('Lato-Lig-webfont.ttf') format('truetype'),
         url('Lato-Lig-webfont.svg#LatoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoHairlineItalic';
    src: url('Lato-HaiIta-webfont.eot');
    src: url('Lato-HaiIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-HaiIta-webfont.woff') format('woff'),
         url('Lato-HaiIta-webfont.ttf') format('truetype'),
         url('Lato-HaiIta-webfont.svg#LatoHairlineItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoHairline';
    src: url('Lato-Hai-webfont.eot');
    src: url('Lato-Hai-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Hai-webfont.woff') format('woff'),
         url('Lato-Hai-webfont.ttf') format('truetype'),
         url('Lato-Hai-webfont.svg#LatoHairline') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on September 14, 2012 04:30:50 PM America/New_York */



@font-face {
    font-family: 'AaarghNormal';
    src: url('Aaargh-webfont.eot');
    src: url('Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aaargh-webfont.woff') format('woff'),
         url('Aaargh-webfont.ttf') format('truetype'),
         url('Aaargh-webfont.svg#AaarghNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}






/************************
 Navigation
 ***********************/
 #responsiveHeader{
  display:none;
 }

 #navWrapper{

 }

header img{
    float:left;
}

 header nav ul {
    list-style-type: none;
    padding-bottom:20px;
    padding-top:20px;
 }

 header nav ul li {
    display:inline;
    float:right;
    margin-left:4px;
    
 }

 header nav ul li {
    color:#333;

 }

 header nav ul li a{
    color:#333;
    padding: 6px 14px 7px 13px;

 }

 header nav ul li a:hover{
    background-color:#B80000;
    color:white;
     text-decoration:none;

 }

 header form input[type="text"]{
    float:right;
 }

 #responsiveNav{
    display:none;
 }

/*****************************
  Homepage
*****************************/
article#homepage p{
    text-align:justify;

}
/*****************************
  Homepage Products
*****************************/
.products{
    background:#ededed;
    padding:10px;
    -webkit-box-shadow:1px 1px 2px #333;
    -moz-box-shadow:1px 1px 2px #333;
    -ms-box-shadow:1px 1px 2px #333;
    -o-box-shadow:1px 1px 2px #333;
    box-shadow:1px 1px 2px #333;
}

.products h3, .box h3{
    border-bottom:none;
}


h4.products{
    color:#333333;
    font-family:'LatoBlack';
}

#homepage h3{
    border-bottom:1px solid #B80000;
}

.button {
    background: none repeat scroll 0 0 #B80000;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font: 14px/17px Arial,Helvetica,sans-serif;
    padding: 6px 13px 7px;
}

/*****************************
  Homepage News
*****************************/
.icon-plus{
  color:#B80000;
  font-size:22px;
  display:inline-block;
  float:left;
  margin-right:20px;
}

article.news ul{
  margin:0;
}

article.news ul li a{
  float:left;
  margin-right:10px;
  color:white;
  min-width:145px;
  text-align:center;
}

article.news a:hover{
  text-decoration:none;
}

article.news p{
  line-height:20px;
  font-size:15px;

}

time a{
  background:#B80000;
  padding:3px 10px 5px;
}

/* About Us */

ul.casestudies{
    list-style-type:none;
}

.casestudies li{
    border-bottom:1px solid #ECECEC;
}

article h3, h3{
    border-bottom:1px solid #B80000;
}

.readmore a, .readmore a:hover{
    color:#B80000;
    text-decoration: none;

}

/* Case Studies */

h4 a, h4 a:hover{
  color:#333;
  text-decoration: none;
}

ul.casestudies{
  margin:0;
}

#casestudieswrapper .thumbnail h4{
  margin:0 0 10px;
}

#casestudieswrapper .thumbnail img, #newswrapper img, #securitywrapper img{
float:left;
border:10px solid #F7F7F7;
margin-right:5px;
margin-bottom:25px;
}

#casestudieswrapper .thumbnail{
    border:none;
    border-bottom:1px solid #ECECEC;
    box-shadow:none;
    border-radius:none;
    margin-bottom:10px;
}

#casestudieswrapper p{
    padding-left:4px;
}

.limarker {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    float: left;
    height: 30px;
    margin-right: 5px;
    overflow: hidden;
    width: 30px;
}

.testimonials li{
    border-bottom:1px solid #ECECEC;
    margin-bottom:5px;
    list-style-type: none;
}


/* Products and Services */

.box{
    background:#F7F7F7;
    padding:10px;
    min-height:220px;
    box-shadow:1px 1px 2px #333333;
}

/* Markets */

ul#markets{
  list-style-type: none;
}

ul#markets li{
 
  
}

.icon-ok{
  color:#B80000;
  font-size:22px;
  margin-right:20px;
}

/* Contact Form */

dt{
font-weight:normal;
}

#contactForm input[type="submit"]{
color:#333;
}

#contactForm select{
width:100%;
margin-top:27px;
}

#contactForm input[type="text"]{
display:block;
width:97%;
}

#contactForm textarea{
display:block;
width:97%;

}

#contactForm input{
color:#CCC;
}

#myInput::-webkit-input-placeholder {
  color: #CCC;
}

#myInput::-moz-input-placeholder {
  color: #CCC;
}

address img{
    -webkit-box-shadow:1px 1px 2px #333;
    -moz-box-shadow:1px 1px 2px #333;
    -ms-box-shadow:1px 1px 2px #333;
    -o-box-shadow:1px 1px 2px #333;
    box-shadow:1px 1px 2px #333;
    
}

.map_canvas{
  width:100%;
  height:268px;
}

/*****************************
  News
*****************************/
ul#historic {
  margin:0;
}

ul#historic li{
  list-style-type: none;

}


/*****************************
 footer
*****************************/

footer{
    border-top:1px solid #B80000;
}

ul.copyright{
    float:left;
    list-style-type: none;
}

.copyright li{
    float:left;
    line-height:40px;
    margin-top:30px;
}

ul.social-media{
    float:right;
}

.social-media li{
  float:left;
  list-style-type: none;
}


/*********************
Show/Hide
*********************/

.more {
 display: none;
  }

a.showLink, a.hideLink {
  text-decoration: none;
  color:#B80000;  

  }



a.showLink:hover, a.hideLink:hover {
  text-decoration: none;
   }


/*****************************
  Media Queries
*****************************/

@media all and (max-width: 480px){

  #responsiveHeader, #responsiveHeader h5{
  display:block;
  text-align: center;
 }

 header h1{
    float:none;
    text-align:center;
}

header img{
    float:none;
}

#navWrapper{
    display:none;
}

header form input[type="text"]{
    display:none;
}

#responsiveNav{
    display:block;
   
}

#responsiveNav select{
    width:100%;
    float:left;
   
}

.products{
  margin-bottom:20px;
}

/**************
  Case Studies
**************/

#casestudieswrapper .thumbnail img{
float:none;
border:10px solid #F7F7F7;
margin:0 auto;
}

#casestudieswrapper .thumbnail h4{
  text-align: center;
  margin-top:10px;
}

#casestudieswrapper h3{
  text-align: center;
}

/*********
Footer
*********/

ul.social-media{
  float:left;
  margin:0;
}





}