<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyApUO4ajt4kh5KnLE-zJbdmDKrVf7zqsvA&sensor=true"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Industrial Automation & Control</title>

  <%= stylesheet_link_tag    "application", "flexislider", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body onload="initialize();">
 <div class="container">
  <div class="row">
   <div class="span12">
    <header>
	 <h1><img src="assets/logo.png" alt="IAC"></h1>
	 <div id="responsiveHeader">
	 	<h5>Industrial Automation & Control</h5>
	 </div><!--/repsonsiveHeader-->
	  <div id="navWrapper">
	  <nav>
		  <ul>
		  	<li><a href="/news">News</a></li>
		  	<li><a href="/careers">Careers</a></li>
		  	<li><a href="/contactus">Contact Us</a></li>
		  	<li><a href="/partners">Partners</a></li>
		  	<li><a href="/casestudies">Case Studies</a></li>
		  	<li><a href="/markets">Markets</a></li>
		  	<li><a href="/productsandservices">Products & Services</a></li>
		  	<li><a href="/aboutus">About</a></li>
		  	<li><a href="/index">Home</a></li>
		  </ul>
	   </nav>
	  </div><!--/navWrapper-->
	   <form>
	   	<input type="text" value="Search">
	   </form>
	</header>

	 <div id="responsiveNav">
	  <nav>
	  	<select id="respn">
	  	 <option value="/index">Home</option>
	  	 <option value="/aboutus">About</option>
	  	 <option value="/productsandservices">Products and Services</option>
	  	 <option value="/markets">Markets</option>
	  	 <option value="/casestudies">Case Studies</option>
	  	 <option value="/partners">Partners</option>
	  	 <option value="/contactus">Contact Us</option>
	  	 <option value="/careers">Careers</option>
	  	 <option value="/news">News</option>
	  	</select>
	  </nav>
	 </div><!--/responsiveNav-->
  
   </div><!--/wrapper-->
  </div><!--span12-->
 </div><!--/row-->



<%= yield %>
<%= render "shared/footer"%>

<script type="text/javascript">
$('#respn').change(function(){
    var url = $(this).val();
    window.location = url;
});

</script>


</body>
</html>
